@use "/src/assets/global";

.MesCompetences {
  @include global.paddingInline();
  @apply flex flex-col items-center gap-16 py-4 overflow-hidden;

  h2 {
    @apply duration-300 text-center uppercase text-[28px] sm:text-[36px] font-extrabold;
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    background: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 0% 5px;
    background-position: bottom left;

    &:hover {
      background-size: 100% 5px;
    }
  }
  ul {
    @apply flex flex-col sm:flex-row gap-24 sm:gap-0 justify-between items-stretch;

    li {
      @apply bg-white relative w-full sm:w-[27%]  p-4  flex flex-col items-start gap-6;
      border: 2px solid #000000;
      .bg-top {
        @apply duration-500 absolute -top-2 -right-2 w-1/2 h-1/3 -z-10;
        @apply rounded-tr-[18px];
      }
      .bg-bottom {
        @apply duration-500 absolute -bottom-2 -left-2 w-1/2 h-1/3 -z-10;
        @apply rounded-bl-[18px];
      }
      &:hover {
        box-shadow: 10px 10px 0px 0px #000000;
      }
      h3 {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: bolder;
        line-height: normal;
      }
      .icon-container {
        @apply w-full h-28  flex flex-col justify-center items-center;
        @apply text-5xl rounded-md text-white;
      }
      p {
        color: #686868;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 150% */
      }
      a {
        @apply mt-auto;
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
